* { /*zerando as configurações padroes das ferramentas*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body>h2 {
  background-color: #F0F8FF;
  color: black;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0px;
  font-family: "Comic Sans MS";
}
nav{
  background-color: #F0F8FF;
  color: white;
  font-family: "Comic Sans MS";
}
ul{
  display: flex;
  list-style: none;
  margin: 0px;
}
li{
  flex-grow: 1; /*Espaçamento entre os elementos da lista*/
}
a{
  display: block;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
a:hover{ /*Estilo quando o mouse está sobre aquele elemento*/
  background-color: black;
  color: white;
  text-decoration: none;
}
main{
	width:90%;
	margin: auto;
}
p{
  width: 50%;
  margin:auto; /*margem externa*/
}
.ativo{
  background-color: black;
  color: white;
}