.container-fluid{
  width: 90%;
}

.form-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.botaoEsquerda{
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}