.container-input{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.professorPesquisado{
	width: 70%;
	margin: auto;
}

h2{
	text-align: center;
	margin: 1rem auto;
}

p{
	text-align: center;
}

table{
	width: 70%;
}