#accordion{
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.alert{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card{
  border: 1px solid;
  border-color: #0275d8;
}

.card-header{
  background-color: white;
}

.headerColapseProfessor{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

.table{
 text-align: center;
}

.linksDePaginacao{
  margin-top: 1rem;
  float: right;
}