* { /*zerando as configurações padroes das ferramentas*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.listaDeProfessores{
  text-align: center;
  margin: auto;
  width: 80%;
}

#accordion{
  margin: 0 auto;
  align-items: center;
}

.card{
  border: 1px solid;
  border-color: #0275d8;
}

.card-header{
  background-color: white;
}

.headerColapseProfessor{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

.botoesRedondos{
  border-radius: 50%;
}

.table{
  text-align: center;
}
