.container-fluid{
  margin-top: 1rem;
}

a{
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

a:hover{ /*Estilo quando o mouse está sobre aquele elemento*/
  text-decoration: none;
}

.card{
  width: 40%;
  min-height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
}

img{
  width: 100px;
}

p{
  color: black;
}

@media screen and (max-width: 720px) {
  .card{
    width: 70%;
  }
}