* { /*zerando as configurações padroes das ferramentas*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  height: 100px;
}

.btn{
  text-align: center;
  color: black;
  width: 200px;
}

.container-materias{
  margin:auto;
	display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 1rem;
}